  <div class="well well-lg">    
      <select class="form-control"[(ngModel)]="selectedLibCode">
        <option *ngFor="let oneKey of libMap | keyvalue" value="{{oneKey.key}}">{{oneKey.value}}</option>
      </select>
    <input type="text" [(ngModel)]="login.username" placeholder="Enter Username" required>

    
    <input type="password" [(ngModel)]="login.password" placeholder="Enter Password" name="psw" required>

    <button type="submit" (click)="onLoginClick($event)">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember" [(ngModel)]="rememberMe"> Remember me
    </label>
  
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
